.storybook
.idea
dist
.tmp
es
lib

build

**/*.stories.*

*.eslintrc.*
*.stylelintrc.*
.commitlintrc.js
webpack.config.js
gulpfile.js
tailwind.config.js
rollup.config.js
babel.config.js
postcss.config.js
jest.config.js
jest.setup.js

node_modules
core
**/__test__/
coverage
.scannerwork
tests
storybook.test.js
jest-css-modules-transform-config.js
libs/icon/generate.js

packages
